name: Test

on: [push, pull_request]

jobs:

  build:
    name: on ${{ matrix.os }} ruby ${{ matrix.ruby }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        ruby: [2.6, 2.7, '3.0', 3.1, 3.2, 3.3, 3.4, head]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3

      - name: Specs
        run: bundle exec rspec
